body {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    font-family: Helvetica, sans-serif;
}



#front-page {
    width: 50%;
}

.form-control {
    width: 25%;
}

.product-name {
    display: inline-block;
}

#intro-text {
    margin-bottom: 5%;
}

h1 {
    padding-bottom: 3%;
}

.horizontal-button-list-item {
    padding: 0 !important;
}

h3 {
    color: royalblue;
}

.product-panel {
    float: left;
    padding: 1%;
    margin-bottom: 1%;
    clear: both;
    width: 40%;
}

.product-button-list {
    margin-top: 2%;
    margin-left: 0%;
}

#main-container {
    margin-bottom: 2%;
}

footer {
    text-align: center;
    margin: 2%;
}

hr {
   display: block;
   position: relative;
   margin: 3px;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
}

table {
    background: white;
    padding-bottom: 0px;
    margin-bottom: 0px;
    -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;    
}

.order-table {
    margin-bottom: 0px;
}

.price {
    font-size: 20px;
}

.list-select {
    padding: 2px !important;
    height: 30px !important;
    width: 200px;
    display: inline;
}

.panel {
    width: 50%;
}

.cart-checkout {
    margin: 10px;  
    margin-top: 20px;
}

#cart-remove-btn {
    float: right;
}

#order-user-info {
    padding-top: 1%;
}

.checkout-btn {
    display: inline-block;
    float: right;
} 

.cart-price {
    float: right;
    margin-right: 20px;
}

.cart-list {
    float: left;
    clear: both;
    width: 400px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
}