{% extends "base.html" %}
{% block content %}

<h1>Info</h1> 

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Toimitusaika</h3>
  </div>
  <div class="panel-body">
    Donec ultricies nisl ut felis, suspendisse potenti. Lorem ipsum ligula 
    ut hendrerit mollis, ipsum erat vehicula risus, eu suscipit sem libero 
    nec erat.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Toimitusalue</h3>
  </div>
  <div class="panel-body">
    Donec ultricies nisl ut felis, suspendisse potenti. Lorem ipsum ligula 
    ut hendrerit mollis, ipsum erat vehicula risus, eu suscipit sem libero 
    nec erat.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Maksutavat</h3>
  </div>
  <div class="panel-body">
    Donec ultricies nisl ut felis, suspendisse potenti. Lorem ipsum ligula 
    ut hendrerit mollis, ipsum erat vehicula risus, eu suscipit sem libero 
    nec erat.
  </div>
</div>

{% endblock %}
